@import "../../scss/variables.scss";

.navButton {
    svg {
        width: 26px;
        height: 26px;
        fill: var(--c-text-color);
    }

    span {
        margin-right: 15px;
    }
}

.selected {
        color: var(--c-text-color);
        font-weight: bold;

}

.notify {
    position: absolute;
    left: 20px;
    top: 5px;
    height: 17px;
    padding: 0 6px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    font-size: 11px;
    border: 1px solid var(--c-primary);
    background-color: var(--c-blue);
    color: var(--c-text-color);
}



    

