@import "../../scss/variables.scss";

.navButton {
    svg {
        width: 26px;
        height: 26px;
        fill: $text-color;
    }

    span {
        margin-right: 15px;
    }
}

.selected {
        color: $text-color;
        font-weight: bold;

}

.notify {
    position: absolute;
    left: 20px;
    top: 5px;
    height: 17px;
    padding: 0 6px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    font-size: 11px;
    border: 1px solid $primary;
    background-color: $blue;
    color: $text-color;
}



    

