@import "../../scss/variables.scss";

.themeButton {
    height: 50px;
    min-width: 50px;
    background-color: var(--c-blue);

    &:hover {
        background-color: var(--c-blue-hover);
    }

    span {
        color: #fff;
        font-weight: bold;
        font-size: 17px;
    }
}