@import "../../scss/variables.scss";

.layout {
    display: grid;
    grid-template-columns: 230px 1fr;
    min-height: 100vh;
    margin: 0 auto;
    
    @include breakpoint(tablet) {
        grid-template-columns: 230px 1fr 230px;
    }
}

