@import "../../scss/variables.scss";

.layout {
    display: flex;
    min-height: 100vh;
    max-width: 670px;
    margin: 0 auto;
    
    @include breakpoint(tablet) {
        max-width: 1060px;
    }
    @include breakpoint(desktop) {
        max-width: $desktop;
    }
}

