@import "../../scss/variables.scss";

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.flat {
    align-items: center;
}

.navButton {
    & + & {
        margin-top: 8px;
    }
}
