@import "../../scss/variables.scss";

.navbar {
    position: relative;
    width: 251px;
    height: 100vh;

    button{
        margin-top: 8px;

    }

    .profileBox {
        position: absolute;
        bottom: 10px;
    }

}