@import "../../scss/variables.scss";

.sideBar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-width: 275px;
    padding: 0 20px;
    z-index: 100;

    @include breakpoint(desktop){
        padding-right: 40px;
    }

    .tweetButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .profileBox {
        margin-top: auto;
        margin-bottom: 12px;
    }
}