@import "../../scss/variables.scss";

.footer{
    position: sticky;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 350px;
    font-size: 13px;
    padding: 12px 16px;

    a {
        margin-right: 12px;
        
        &:hover{
            text-decoration: underline;
        }
        
        span {
            color: var(--c-gray);
            word-wrap: break-word;
        }
    }
    p {
        color: var(--c-gray);
    }
}