$primary: #15202B;
$text-color: #fff;
$text-colorDark: #f7f9f9;
$blue: #1d9bf0;
$gray: #6E767D;
$gray-30: #6e767d30;
$dark-gray: #1e2732; // gündem background
$border-color: #38444d;

@mixin text-title {
    font-size: 19px ;
    font-weight: bold;
}

// B r e a k P o i n t s
$tablet: 980px;
$desktop: 1270px;

@mixin breakpoint($point) {
    @if $point == tablet {
        @media (min-width: $tablet){
            @content;
        }
    }
    @if $point == desktop {
        @media (min-width: $desktop){
            @content;
        }
    }
}


