// T h e m e C o l o r s
:root {
    --c-primary: #ffffff;
    --c-text-color: #0f1419;
    --c-blue: #1d9bf0;
    --c-blue-hover: #1a89d3;
    --c-gray: #8b98a5;
    --c-gray-30: #8b98a530;
    --c-dark-gray: #1e2732; 
    --c-border-color: #eff3f4;
}

.Dim:root {
    --c-primary: #15202B;
    --c-text-color: #f7f9f9;
    --c-blue: #1d9bf0;
    --c-blue-hover: #1a89d3;
    --c-gray: #8b98a5;
    --c-gray-30: #8b98a530;
    --c-dark-gray: #1e2732; 
    --c-border-color: #38444d;
}

.Dark:root {
    --c-primary: #000;
    --c-text-color: #e7e9ea;
    --c-blue: #1d9bf0;
    --c-blue-hover: #1a89d3;
    --c-gray: #8b98a5;
    --c-gray-30: #8b98a530;
    --c-dark-gray: #1e2732; 
    --c-border-color: #2f3336;
}

// T i t l e  S t y l e
@mixin text-title {
    font-size: 19px;
    font-weight: bold;
}

// B r e a k P o i n t s
$tablet: 980px;
$desktop: 1270px;

@mixin breakpoint($point) {
    @if $point == tablet {
        @media (min-width: $tablet){
            @content;
        }
    }
    @if $point == desktop {
        @media (min-width: $desktop){
            @content;
        }
    }
}
